.page {
  margin: 0 16px;
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  width: 100%;
  flex-grow: 1
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  
  @media (min-width: 1000px) {
    max-width: 50%;
  }
}

.item {
  justify-content: start;
  margin: 0 8px;
}

.green {
  color: green;
}

.red {
  color: red
}